version: '2'
volumes:
  db_data:
  bundle:
services:
  nginx:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
      - frontend
    environment:
      - VIRTUAL_HOSt=sample-app.docker
      - VIRTUAL_PORT=8080
    ports:
      - '8080:8080'
  db:
    image: postgres
    container_name: sample_app_db
    ports:
      - '5432'
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  api:
    build: ./api
    container_name: sample_app_api
    command: /bin/bash -c 'rm -rf tmp/pids/server.pid && bundle exec rails s -p 3000 -b "0.0.0.0"'
    ports:
      - '3000:3000'
    depends_on:
      - db
    volumes:
      - ./api:/app
      - bundle:/usr/local/bundle
      - db_data:/var/lib/postgresql/data
    environment:
      RAILS_ENV: development
  frontend:
    build: ./frontend
    container_name: sample_app_frontend
    command: npm run dev
    ports:
      - '4000:4000'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
    environment:
      NODE_ENV: development
